<!DOCTYPE html>
<html>
<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" href="adminhome.css" />
</head>
<body>
    <div class="container">
        <h1>ADMIN HOME</h1>

        <div class="button-box">
            <form action="addsong">
                <input type="submit" value="ADD SONG" class="btn" id="add-song-btn" />
            </form>
        
            <form action="viewsongs">
                <input type="submit" value="VIEW SONG" class="btn" id="view-song-btn" />
            </form>
        
            <form action="createplaylists">
                <input type="submit" value="CREATE PLAYLIST" class="btn" id="add-playlist-btn" />
            </form>
        
            <form action="viewplaylist">
                <input type="submit" value="VIEW PLAYLIST" class="btn" id="view-playlist-btn" />
            </form>
            
            <form action="logout">
                <input type="submit" value="LOG OUT" class="btn" id="log-out-btn" />
            </form>
        </div>
    </div>
</body>
</html>