<!DOCTYPE html>
<html lang="en">
<head>
<title>Index Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
 crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="index1.css" />
</head>
<body>
	<div class="main">
		<div class="navbar">
			<div class="icon">
				<h2 class="logo">BEATBOX</h2>
			</div>
			<div class="menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Design</a></li>
					<li><a href="#">Service</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div class="search">
				<input class="srch" type="search" name="" placeholder="Type"/>
				<a href="#"><button class="btn">Search</button></a>
			</div>
			</div>
			<div class="content">
				<h2>
					Feel the <br>Power of Music
				</h2>
				<p class="para">
					Music touches our emotions, connects us, <br>and inspires
					creativity.Explore the magic of <br> sound and rhythm.There's always something <br>
					new	to discover. So close your eyes, let the <br>music guide you,
					and embrace its boundless beauty and opportunities.
					
				</p>
			</div>
			<div class="form">
				<form action="registration" class="register">
					<input class="button" type="submit" value="SIGN-UP" />
				</form>
				<br /> <br />
				<form action="login" class="login">
					<input class="button" type="submit" value="SIGN-IN" />
				</form>
	</div>
	 </div>
 
</body>
</html>






























