<!DOCTYPE html>
<html>
<head>
<title>Song Page</title>
    <link rel="stylesheet" type="text/css" href="song.css" />

</head>
<body>
<div class="container">
      <div class="add">
      <h1>ADD SONGS</h1>
  <form action="/addsongs" method="Post" class="form">
		<input type="text"  name="name" placeholder="Song Name:"/>
		<br/>
		
		<input type="text"  name="artist" placeholder="Song Artist:"/>
		<br/>
		
		<input type="text"  name="genre" placeholder="Song Genre:"/>
		<br/>
		
		<input type="text" name="link" placeholder="Song Link:" >
		<br/>

        <input type="submit" name="submit" value="ADD SONG" placeholder="SUBMIT" class="btn">
  
  </form>
  </div>
</div>
</body>
</html>