<!DOCTYPE html>
<html>
<head>
<title>view playlist</title>
</head>
<body>

	<h1>VIEW PLAYLIST</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Songs</th>
                <th>Play Button</th>
            </tr>
        </thead>
        <tbody>
                 <tr th:each="playlist : ${playlists}">
                <td th:text="${playlist.name}"></td>
                <td>
                    <ol>
                        <li th:each="song:${playlist.songs}">
                            <span th:text="${song.name}"></span>
                        </li>
                    </ol>
                </td>
                <td>
                    <ol>
                        <li th:each="song:${playlist.songs}">
                            <audio controls>
                                <source th:src="${song.link}" type="audio/mpeg">
                            </audio>
                        </li>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>